.provider-tile{id: "provider-#{provider.id}"}
  = link_to provider do
    .img-thumbnail.text-center
      = icon('fas', 'user-md', class: 'img-fluid', style: 'font-size: 100px;')
      .caption
        %h4{title: provider.primary_contact }= provider.primary_contact
        %p
          at
          = provider.name
