%p#notice= notice

%p
  %b Name:
  = @provider.name
%p
  %b Address:
  = @provider.address
%p
  %b Phone:
  = @provider.phone
%p
  %b Primary contact:
  = @provider.primary_contact
%p
  %b Notes:
  = @provider.notes

= link_to 'Edit', edit_provider_path(@provider)
\|
= link_to 'Delete', @provider, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', providers_path
