= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :birthdate
    = f.date_select :birthdate, start_year: Date.today.year - 120, end_year: Date.today.year
  .field
    = f.label :photo
    = f.file_field :photo
  .field
    = f.label :insurance_id
    = f.text_field :insurance_id
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'
