.person-tile{id: "person-#{person.id}"}
  = link_to person do
    .img-thumbnail.text-center
      - if person.photo.attached?
        = image_tag(person.photo.representation(resize: 'x100'), class: 'rounded')
      - else
        = icon('fas', 'user', class: 'img-fluid', style: 'font-size: 100px;')
      .caption
        %h4{ title: person.full_name }= person.nickname
