%h1 Listing people

%section.container#people
  .row
    - @people.each do |person|
      .col-md-2
        = render 'people/tile', person: person
    .col-md-2.action-tile
      = link_to new_person_path, class: 'btn btn-primary' do
        = icon('fas', 'plus')
        %h3 Add...
