%p
  %b First name:
  = @person.first_name
%p
  %b Middle name:
  = @person.middle_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Nickname:
  = @person.nickname
%p
  %b Birthdate:
  = @person.birthdate
- if @person.photo.attached?
  %p
    = image_tag(@person.photo.representation(resize: '200x200'))
%p
  %b Insurance:
  = @person.insurance_id
%p
  %b Notes:
  = @person.notes

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', people_path
