= form_for @visit do |f|
  - if @visit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@visit.errors.count, "error")} prohibited this visit from being saved:"
      %ul
        - @visit.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :visited_at
    = f.datetime_select :visited_at
  .field
    = f.label :person
    = f.select :person_id, Person.all.map { |person| [person, person.id] }
  .field
    = f.label :provider
    = f.select :provider_id, Provider.all.map { |provider| [provider, provider.id] }
  .field
    = f.label :notes
    = f.text_field :notes
  .field
    = f.label :charts
    = f.file_field :charts, multiple: true
  .actions
    = f.submit 'Save'
