.visit-tile{id: "visit-#{visit.id}"}
  = link_to visit do
    .img-thumbnail.text-center
      = icon('fas', 'notes-medical', class: 'img-fluid', style: 'font-size: 100px;')
      .caption
        %p
          %b= visit.person
          - if visit.visited_at.localtime.future?
            sees
          - else
            saw
          %br
          %b= visit.provider.primary_contact
          %br
          on
          %b= visit.visited_at.localtime.strftime('%Y %B %d - %H:%M')
