%h1 Listing visits

%table
  %thead
    %tr
      %th Visited at
      %th Person
      %th Provider
      %th Notes
      %th
      %th
      %th

  %tbody
    - @visits.each do |visit|
      %tr
        %td= visit.visited_at.localtime.strftime('%Y %B %d - %H:%M')
        %td= visit.person.nickname
        %td= visit.provider.primary_contact
        %td= visit.notes
        %td= link_to 'Show', visit
        %td= link_to 'Edit', edit_visit_path(visit)
        %td= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Visit', new_visit_path
