%p#notice= notice

%p
  %b Visited at:
  = @visit.visited_at.localtime.strftime('%Y %B %d - %H:%M')
%p
  %b Person:
  = @visit.person.nickname
%p
  %b Provider:
  = @visit.provider.primary_contact
%p
  %b Notes:
  = @visit.notes
%p
  %b Chart:
  %ol
    - @visit.charts.each do |chart|
      %li= link_to image_tag(chart.representation(resize: '200x200')), rails_blob_path(chart, disposition: 'attachment')

= link_to 'Edit', edit_visit_path(@visit)
\|
= link_to 'Delete', @visit, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', visits_path
