%section#about
  .row
    .col-12
      :markdown
        # Chart Heap.
        ##### Trying to make sense of medical paperwork before you roundfile it.

        ---

        ### About

        Chart Heap is a
        [free/libre open source application](https://en.wikipedia.org/wiki/Free_and_open-source_software)
        written to scratch an itch.

        It is licensed under the
        [GPL v3 license](https://www.gnu.org/licenses/gpl-3.0.en.html).

        The original source is available at
        [gitlab.com/bear454/chartheap](https://gitlab.com/bear454/chartheap). Pull requests
        are welcome!

        ---

        ### Attribution

        The background is based on
        ['Shredded'](https://commons.wikimedia.org/wiki/File:Shredded.jpg)
        from
        [Mike Haw](https://flickr.com/people/44124456291@N01),
        discovered on
        [Wikimedia Commons](https://commons.wikimedia.org/)

        The application builds on, and is grateful to the developers of the following framework components:

        * [Ruby](https://www.ruby-lang.org/en/)
        * [Rails](https://rubyonrails.org/)
        * [jQuery](https://jquery.com/)
        * [Bootstrap](https://getbootstrap.com/)
        * [FontAwesome Free](https://fontawesome.com/free)
        * [Various ruby gems](https://gitlab.com/bear454/chartheap/blob/master/Gemfile.lock)

        ----

        ### Copyright

        Unless noted otherwise, the source code for Chart Heap is &copy; 2019
        [James Mason 'bear454'](https://bear454.com).
