%section#people
  .navbar
    = link_to icon('fas', 'users', 'People'), people_path, class: 'navbar-brand'
    = link_to icon('fas', 'plus', 'Add a new person'), new_person_path, class: 'btn btn-secondary'
  .row
    - @people.each do |person|
      .col-md-2
        = render 'people/tile', person: person
    - if @more_people
      .col-md-2.action-tile
        = link_to people_path do
          = icon('fas', 'angle-double-right')
          %h3 More...

%section#providers
  .navbar
    = link_to icon('fas', 'user-md', 'Providers'), providers_path, class: 'navbar-brand'
    = link_to icon('fas', 'plus', 'Add a new provider'), new_provider_path, class: 'btn btn-secondary'
  .row
    - @providers.each do |provider|
      .col-md-3
        = render 'providers/tile', provider: provider
    - if @more_providers
      .col-md-2.action-tile
        = link_to providers_path do
          = icon('fas', 'angle-double-right')
          %h3 More...

%section#visits
  .navbar
    = link_to icon('fas', 'notes-medical', 'Recent visits'), visits_path, class: 'navbar-brand'
    = link_to icon('fas', 'plus', 'Add a new visit'), new_visit_path, class: 'btn btn-secondary'
  .row
    - @visits.each do |visit|
      .col-md-3
        = render 'visits/tile', visit: visit
    - if @more_visits
      .col-md-2.action-tile
        = link_to visits_path do
          = icon('fas', 'angle-double-right')
          %h3 More...
