// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image_url('shredded.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  padding-bottom: 56px;
}

#footer {
  .navbar-text {
    padding-left: 1em;
    padding-right: 1em;
  }
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  color: black;
  .navbar-brand {
    color: black;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.action-tile {
  text-align: center;
  i.fas {
    font-size: 100px;
  }
  h3 {
    padding-top: 0.5em;
  }
}

.alert {
  border-radius: 0 !important;
  i.flash-icon {
    padding-left: 0.1em;
    padding-right: 0.4em;
  }
  margin: 0 !important;
}
