.alert{ class: flash_class[flash_key] }
  %button.close{ type: 'button', data: { dismiss: 'alert'} }
    = icon('fas', 'times')
  = icon('fas', flash_icon[flash_key] + ' fa-2x fa-pull-left align-middle flash-icon', alt: flash_key)
  = flash_message
