!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    %title= content_for?(:title) ? yield(:title) : 'Chart Heap'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'
    = javascript_include_tag 'application'
  %body
    %nav#header.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      = link_to root_path, class: 'navbar-brand' do
        %span.fa-stack.fa-1x{title: 'Chart Heap'}
          = icon('fas', 'trash-alt fa-stack-1x')
          = icon('fas', 'ban fa-stack-2x', style: 'color:Tomato')
        Chart Heap
      %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#main-menu'}  }
        = icon('fas', 'bars', title: 'Menu')
      .collapse.navbar-collapse#main-menu
        %ul.navbar-nav.mr-auto
          - navigation_links.each do |nav_item_text, nav_item_path|
            = active_link_to nav_item_text, nav_item_path,  class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item'
    - flash.each do |key, message|
      = render 'alert', flash_key: key, flash_message: message
    .container#content
      = yield
    %nav#footer.navbar.navbar-expand.fixed-bottom.navbar-dark.bg-dark.justify-content-center.small
      .navbar-text
        Chart Heap:
      %ul.navbar-nav
        = link_to 'About', about_path, class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item'
